<h1>Doctors</h1>


<% @doctors.each do |doctor| %>
<ul>
	<li>
		<%= link_to(doctor.name, doctor_path(doctor.id)) %>
		<%= link_to(doctor.patients, doctor_path(doctor.id)) %>
		<%= link_to("Delete", doctor_path(doctor.id), :method => :delete) %>
	</li>
</ul>
<% end %>