<h1 class="appt-details">Appointments#show</h1>
<p>Find me in app/views/appointments/show.html.erb</p>
<h1><%= @appointment.date %></h1>
<h1><%= @appointment.time %></h1>
<h1><%= @appointment.doctor[:id] %></h1>
<h1><%= @appointment.patient[:id] %></h1>




